{% extends 'base.html' %}
{% load static %}
{% block tittle%}
    {{ category.meta_title }}
{% endblock %}
{% block content %}
    <div class="text-center">
                    <h1>{{ category.name }}</h1>
    </div>
<div class="section">
        <div class="container">
            <div class="row">
                {% for produc in product  %}
                     <div class="col-lg-3">
                        <div class="product-item">

                                    <div>
                                        <a href="{%url 'product' produc.id  %}">
                                             {% for image_item in produc.productimage_set.all %}
                                                 {% if image_item.is_main%}
                                                     <div class="product-image-item">
                                                     <img src="{{ image_item.image.url }}" class="img-responsive">
                                                     </div>
                                                 {% endif %}
                                             {% endfor %}
                                        </a>
                                    </div>
                                    <div>
                                         {{ produc.short_description }}
                                    </div>
                                    <div>

                                        {{ produc.price }} USD
                                    </div>

                        </div>
                     </div>
                {% endfor %}
            </div>
        </div>
     </div>
{% endblock %}