{% extends 'base.html' %}
{% load static %}

{% block tittle %}
    Checkout
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-6   col-lg-offset-3">
            <h3 class="text-center">

            </h3>
            <h5 class="text-center">Total_Price: </h5>

        <form class="form-horizontal" method="post">{% csrf_token %}

                <div class="form-group">
                    <div class="col-lg-6">

                    <label>Name</label>
                        <span class="form-error">{{ form.name.errors }}</span>
                    <input type="text" name="{{ form.name.html_name }}" class="form-control"
                    value="{{ request.POST.name }}">
                </div>
            </div>

             <div class="form-group">
                 <div class="col-lg-6">

                 <label>Phone</label>
                     <span class="form-error">{{ form.phone.errors }}</span>
                 <input type="text" name="{{ form.phone.html_name }}" class="form-control"
                 value="{{ request.POST.phone}}">
             </div>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Price per item</th>
                <th>Total price</th>
            </tr>
            </thead>
            <tbody>
                    {% for product_in_basket in products_in_basket %}
                        <div class="product_name" name="product_in_basket{{product_in_basket.id}}"></div>
                        <tr>
                        <td>
                            <div name="product_in_basket{{product_in_basket.id}}">{{ product_in_basket.product_id.name }}</div>

                        </td>
                         <td>
                            {{ product_in_basket.count }}
                        </td>
                         <td>
                            {{ product_in_basket.price_per_item}}
                        </td>
                         <td>
                             <span class="total-product-in-basket-price">
                                  {{ product_in_basket.Full_price }}
                             </span>
                        </td>
                        </tr>


                {% endfor %}

            </tbody>
        </table>
            <div class="text-right">
                <b>Order price:{{total_price}}</b>
            </div>
            <hr>
            <div class="text-right">
                <button type="submit" class="btn btn-primary btn-large btn-lg">To order</button>
            </div>
        </form>

        </div>


        </div>
    </div>
{% endblock %}
