{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="container">
     <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <h1 class="title">Магазин скоро откроется</h1>
            <h1 class="title">Введите имейл в форме</h1>
        </div>
    </div>
    </div>
</body>
</html>