{% extends 'base.html' %}
{% load static %}
{% block tittle %}
    Home
{% endblock %}
{% block content %}
    <div class="section-top">
            <img src="{% static 'buy.jpg' %}" style="width: 100%">
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {% for product_image in products_images  %}
                     <div class="col-lg-3">
                        <div class="product-item">
                                    <div>
                                        <a href="{%url 'product' product_image.product.id  %}">
                                        <img src="{{ product_image.image.url}}" class=img-responsive>
                                        </a>
                                    </div>
                                    <h4>{{ product_image.product.name }}</h4>
                                    <p>
                                        {{product_image.product.short_description|truncatechars_html:70 }}
                                    </p>
                                    <div>
                                        {{ product_image.product.price }} USD
                                    </div>

                        </div>
                     </div>
                {% endfor %}
            </div>
        </div>
     </div>
    <div class="section12">
        <div class="container">
            <div class="row">
                {% for categor in category  %}
                     <div class="col-lg-3">
                        <div class="category-btn">
                                    <div class="Category-click">
                                        <button class="btn category">
                                             <a href="{%url 'category' categor.id  %}">
                                            {{ categor.name }}

                                        </a>
                                            </button>
                                    </div>
                        </div>
                     </div>
                {% endfor %}
            </div>
        </div>
     </div>

{% endblock %}